<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="the_billing_concept.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <the_billing_concept.Properties.Settings>
            <setting name="connectionString" serializeAs="String">
                <value>server=localhost;user id=root;password=;database=billing;charset=utf8;SslMode=none</value>
            </setting>
            <setting name="currency" serializeAs="String">
                <value>$</value>
            </setting>
        </the_billing_concept.Properties.Settings>
    </applicationSettings>
</configuration>